* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-group {
    width: 100%;
    position: relative;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.input-group .input-area {
    outline: none;
    width: 100%;
    text-align: center;
    background: #f3f3f3;
    border: 2px solid #dadce0;
    padding: 16px 0px;
    font-size: 18px;
    border-radius: 5px;
}

.input-group .input-area:valid + .label {
    top: -8px;
    padding: 0 3px;
    font-size: 14px;
    color: #8d8d8d;
}

.input-group .input-area:focus {
    border: 2px solid royalblue;
}

.input-group .label {
    color: #8d8d8d;
    position: absolute;
    top: 20px;
    left: 13px;
    background: #f3f3f3;
}

.input-group .input-area:focus + .label {
    top: -8px;
    padding: 0 3px;
    font-size: 14px;
    color: royalblue;
}

.campos-mru {
  position: relative;
  align-items: center;
  width: 350px;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0px 0px 10px rgb(66 66 66 / 70%);
}
.btnCalcular {
  width: 250px;
  height: 40px;
  background-color: #2fba54;
  border-radius: 28px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  margin-top: 4%;
}
.btn-mru {
  margin-top: 5%;
  text-align: center;
}
#escolha_mru {
  background: #464646;
  width: 250px;
  height: 40px;
  color: white;
  font-weight: 300;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  padding: 3px;
  margin-bottom: 20px;
  text-align: center;
}
select option {
  background: #e1e1e1;
  color: black;
}
.resultados {
  position: relative;
  width: 250px;
  text-align: center;
  height: 80px;
  border-radius: 10px;
  background-color: #18ab29;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}
.result-valor {
  font-size: 20px;
  font-weight: lighter;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}